/* Write your CSS here */
.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  height: 100vh;
}
.notFound-msg {
  font-size: 20px;
  font-family: 'Bree Serif';
  color: white;
}

@media (min-width: 768px) {
  .not-found-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    background-size: cover;
  }
  .notFound-msg {
    font-size: 40px;
    font-family: 'Bree Serif';
    color: white;
  }
}
